.link, .btn, .brand {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.error {
	border-color: #E9322D;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

body {
	background: #F7F5F5 url(../images/paper.jpg) repeat;
}

.topbar {

}

	.topbar .brand {
		font-family: Raleway;
		font-size: 24px;
		padding: 5px 10px 5px 20px;
	}

		.topbar .brand:hover {
			background-color: inherit;
		}

	.topbar div.link {
		padding: 10px 10px 11px;
		color: #BFBFBF;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		cursor: pointer;
	}

		.topbar div.link:hover {
			background: #222;
			color: white;
		}

	.topbar .divider {
		background-color: #444;
		height: 27px;
		margin: 4px 5px;
		width: 1px;
	}

	.topbar .user-panel {
	}

		.topbar .user-panel .user-text {
			font-family: Raleway;
			font-size: 17px;
			padding: 5px 12px 5px 0px;
			color: grey;
			position: relative;
			top: 1px;
		}

		.topbar .user-panel .btn {
			margin-left: 5px;
		}

		.topbar input {
			height: 25px;
			width: 200px;
			margin: 0px 5px;
		}

#container {
	margin-top: 50px;
	margin-bottom: 125px;
}

#container section {
	padding: 15px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

	#container section h2 {
		font-family: Raleway;
		font-size: 30px;
		font-weight: 100;
	}

	#container section ul {
		margin: 15px 0 0 0;
	}

		#container section ul li.post {
			list-style: none;
			position: relative;
			left: -15px;
			padding: 15px;
			margin: -1px 0px;
			border-top: grey solid 1px;
			border-bottom: grey solid 1px;
			cursor: pointer;
			height: 70px;
		}

		#container section ul li.post:first-child {
			border-top: none;
		}

		#container section ul li.post:last-child {
			border-bottom: none;
		}

		#container section ul li.post:hover {
			background-color: #EEE;
		}

		#container section ul li.post:active {
			background-color: #DDD;
		}

			#container section ul li.post .topic {
				font-family: Raleway;
				font-weight: inherit;
				font-size: 25px;
				padding: 5px;
			}

			#container section ul li.post .users {
 				padding: 10px 20px;
				font-size: 15px;
				font-weight: 300;
			}

			#container section ul li.post .created {
				float: right;
				padding: 5px;
}

.post-form {
	width: 500px;
}

.post-form textarea {
	margin: 20px 40px;
	width: 430px;
	height: 80px;
	resize: none;
}

.post-form button {
	float: right;
	margin-right: 30px;
	margin-top: -10px;
	padding: 4px 20px;
}
