<html>
<head>
	<title>Backbone Forum</title>
</head>
<body>

	<%= content_for :javascript do -%>
		<%= javascript_tag do %>
			Forum.init(<%= @posts.to_json %>);
		<% end %>
	<% end -%>

</body>
</html>
