<input type='text' name='username' class='un' />
<input type='password' name='password' class='pw' />
<button id='login-button'>Login</button>
<button id='signup-button'>Signup</button>
<div class='alert-text'></div>
